body {
  background: #2f3a4f;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  max-width: 500px;
  height: 800px;
}

/* Sponsor Container */
.sponsor-container {
  overflow: hidden;
  width: 675px;
  margin: 10px 5px;
}

.ticker-container {
  display: flex;
  justify-content: flex-end;
}

.ticker-preview {
  position: relative;
  height: 80px;
  width: 1920px;
  background-color: #4C4C4C;
  background-image: linear-gradient(#2C2A2B, #4C4C4C);
  display: flex;
  overflow: hidden;
}

.sponsor-image {
  max-height: 100px;
  height: 47px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  right: 3px;
}

/* Dropdown */
.image-edit-container {
  display: flex;
  height: 30px;
  margin-bottom: 10px;
}

select {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  margin-right: 10px;
}

#sponsor-dropdown {
  width: 180px;
}

option {
  padding-left: 10px;
}

.img-input {
  width: 50px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  padding-left: 10px;
  cursor: e-resize;
  user-select: auto;
}

.sponsor-on {
  background: #077007 !important;
  margin-left: 0 !important;
}

.sponsor-off {
  background: #9f0909 !important;
  margin-left: 0 !important;
}

/* Buttons Group */
.buttons-group {
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
  width: 684px;
}

.buttons-group:not(:first-child) {
  margin-top: 10px;
}

.btn {
  min-width: 100px;
  height: 30px;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  color: white;
  background: #384d75;
}

.sm-btn {
  min-width: 47px;
}

.link-btn {
  text-decoration: none;
  height: auto;
  text-align: center;
  padding: 5px 0;
}

.bigger {
  padding: 5px 10px;
}

.btn:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.btn:not(:first-child) {
  margin-left: 10px;
}

.time-stamp {
  font-size: 18px;
  margin-left: 10px;
  position: relative;
  top: 4px;
}

/* Interval */
#interval_input {
  height: 28px;
  width: 43px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  text-align: center;
}

.countdown {
  font-size: 24px;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

/* Checkbox Group */
.checkbox-group {
  position: absolute;
  right: 20px;
  top: 20px;
}

.button-group-nested {
  position: absolute;
  right: 0;
  bottom: -46px;
  display: flex;
}

/* Ticker Table */
.ticker-table {
  margin: 20px 5px;
  width: 675px;
  overflow-y: auto;
  max-height: 662px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th:first-child,
td:first-child {
  border-left: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody tr:first-child td {
  border-top: none;
}

.type-cell {
  padding: 2.5px;
  margin: 0;
  border-radius: 5px;
}

.fa-trash-o,
.fa-eye,
.fa-eye-slash {
  cursor: pointer;
}

.fa-trash-o:hover {
  color: rgb(255, 0, 0);
}

.fa-eye:hover,
.fa-eye-slash:hover {
  color: rgb(108, 108, 108);
}

.fa-bars:hover {
  cursor: grab;
}

.fa-bars:active {
  cursor: grabbing;
}

.dragging {
  background-color: black;
}

.highlight {
  background-color: #384d75;
}