@font-face {
	font-family: 'Radio Canada';
	src: url('../shared/fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
	font-family: 'Radio Canada Italic';
	src: url('../shared/fonts/RadioCanada-Italic-Variable.ttf') format('truetype');
}

@font-face {
	font-family: 'Para Movement';
	src: url('../shared/fonts/ParaMovement.ttf') format('truetype');
}

body {
	/* background: url('../shared/assets/mountain.jpg');
	background-size: 170%;
	background-position: 45% 23.45%; */
	padding: 0;
	margin: 0;
}

#ticker-wrapper {
	width: 100vw;
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

/* Main */
#ticker-background {
	position: relative;
	height: 80px;
	background: white;
	z-index: 1;
	transform: translateY(100%);
}

#ticker-main {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #4C4C4C;
	background-image: linear-gradient(#2C2A2B, #4C4C4C);
	z-index: 2;
	transform: translateY(100%);
}

@keyframes slide-up {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes slide-down {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100%);
	}
}

/* Sponsor */
.sponsor-container {
	position: absolute;
	top: 5px;
	right: 110px;
}

.sponsor-image {
	max-height: 100px;
	height: 100px;
	object-fit: cover;
	position: absolute;
	top: -20px;
	right: 0px;
	transform: translateY(100%);
	animation: slide-up 0.3s ease-in 0.3s forwards;
}

/* Group */
.group {
	position: relative;
	left: 94px;
	top: 10px;
	display: flex;
	align-items: center;
	height: 60px;
}

.group.animate-group-in {
	animation: animate-group-in 0.3s ease-out forwards;
}

.group.animate-group-out {
	animation: animate-group-out 0.3s ease-in forwards 0.3s;
}

@keyframes animate-group-in {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes animate-group-out {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		opacity: 0;
	}

	100% {
		opacity: 0;
		transform: translateY(-50%);
	}
}

/* Header */
.ticker-header-text {
	font-family: 'Radio Canada', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 34px;
	color: white;
	margin-right: 34px;
	display: inline-block;
	opacity: 0;
	/* animation: text-slide-up 0.5s ease-out forwards 0.4s; */
}

.results-header-text {
	color: #FFEAB0;
}

@keyframes text-slide-up {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}

	90% {
		opacity: 0.5;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/* Dot */
.ticker-dot {
	height: 18px;
	width: 18px;
	background: white;
	border-radius: 50%;
	margin-right: 30px;
	position: relative;
	top: 1px;
	/* animation: blink-on 1s forwards .75s; */
	opacity: 0;
}

.breaking-dot {
	background: #EE0000;
}

.news-dot {
	background: #D9A420;
}

.promo-dot {
	background: #D9A420;
}

.free-dot {
	background: #FFEAB0;
}

.ignite-dot {
	background: #a68349;
}

@keyframes blink-on {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

@keyframes blink-off {
	0% {
		opacity: 1;
	}

	33% {
		opacity: 0;
	}

	66% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Message */
.ticker-message-text {
	display: flex;
	position: relative;
	opacity: 0;
	font-family: 'Radio Canada', sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 34px;
	/* animation: text-slide-right 0.3s ease-out forwards 0.5s; */
}

.paralink {
	font-family: 'Para Movement', sans-serif;
	display: contents;
}

@keyframes text-slide-right {
	0% {
		opacity: 0;
		transform: translateX(-10%);
	}

	75% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Adding Images ---------------------- */

/* Medals */
.medal {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.gold {
    background: linear-gradient(to bottom right, #FFD700, #FFB700);
}

.gold::before {
    content: '';
    position: absolute;
    width: 31px;
    height: 31px;
    background: #FFDF00;
    border-radius: 50%;
    z-index: 0;
}

.silver {
    background: linear-gradient(to bottom right, #C0C0C0, #A9A9A9);
}

.silver::before {
    content: '';
    position: absolute;
    width: 31px;
    height: 31px;
    background: #D3D3D3;
    border-radius: 50%;
    z-index: 0;
}

.bronze {
    background: linear-gradient(to bottom right, #CD7F32, #8B5A2B);
}

.bronze::before {
    content: '';
    position: absolute;
    width: 31px;
    height: 31px;
    background: #D2691E;
    border-radius: 50%;
    z-index: 0;
}

.medal span {
    position: relative;
    z-index: 1;
}

/* Flag */
.flag {
	height: 40px;
	margin-left: 15px;
	margin-right: 15px;
}

.flag img {
	height: 40px;
}