@font-face {
	font-family: 'Radio Canada';
	src: url('../shared/fonts/RadioCanada-Variable.ttf') format('truetype');
}

@font-face {
	font-family: 'Radio Canada Italic';
	src: url('../shared/fonts/RadioCanada-Italic-Variable.ttf') format('truetype');
}

@font-face {
	font-family: 'Radio Canada Big';
	src: url('../shared/fonts/RadioCanadaBig-Variable.ttf') format('truetype');
}

@font-face {
	font-family: 'Radio Canada Big Italic';
	src: url('../shared/fonts/RadioCanadaBig-Italic-Variable.ttf') format('truetype');
}

body {
	background: url('../shared/assets/mountain.jpg');
	background-size: 170%;
	background-position: 45% 23.45%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#nav-wrapper {
	width: 450px;
	height: 196px;
	position: absolute;
	top: 60px;
	right: 56px;
}

#nav-1,
#nav-2,
#nav-3 {
	display: none;
}

/* Nav Main */
.nav-main {
	width: 450px;
	height: 196px;
	clip-path: inset(0 0 196px 450px);
	/* animation:
		stage1 0.25s 1s forwards,
		stage2 0.1s 1.25s forwards ease-out,
		stage3 0.4s 1.35s forwards ease-out,
		stage4 0.6s 1.75s forwards ease-out; */
	/* hideAnimation forwards ease-in 0.5s 23.35s; */
}

@keyframes stage1 {
	0% {
		clip-path: inset(0 0 146px 450px);
	}

	100% {
		clip-path: inset(0 0 146px 20px);
	}
}

@keyframes stage2 {
	0% {
		clip-path: inset(0 0 146px 20px);
	}

	100% {
		clip-path: inset(0 0 126px 0);
	}
}

@keyframes stage3 {
	0% {
		clip-path: inset(0 0 126px 0);
	}

	100% {
		clip-path: inset(0 0 30px 0);
	}
}

@keyframes stage4 {
	0% {
		clip-path: inset(0 0 30px 0);
	}

	100% {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes hideAnimation {
	0% {
		clip-path: inset(0 0 0 0);
	}

	100% {
		clip-path: inset(196px 0 0 0);
	}
}

/* Header */
.nav-header {
	font-family: 'Radio Canada', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	background: black;
	color: white;
	height: 54px;
	position: relative;
}

.broadcast-logo {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	opacity: 0;
	transform: translateX(40px);
	/* animation: fadeInLeftMore .5s ease-out forwards 1.3s; */
}

@keyframes fadeInLeftMore {
	from {
		opacity: 0;
		transform: translateX(40px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOutUpText {
	from {
		opacity: 1;
		transform: translateY(0px);
	}

	to {
		opacity: 0;
		transform: translateY(-30px);
	}
}

@keyframes fadeOutDownText {
	from {
		opacity: 1;
		transform: translateY(0px);
	}

	to {
		opacity: 0;
		transform: translateY(30px);
	}
}

/* Header - Title - Time */
.nav-header .text {
	display: inline-block;
	position: relative;
	top: 1px;
	opacity: 1;
}

.nav-content {
	font-family: 'Radio Canada', sans-serif;
	text-transform: uppercase;
	color: black;
	background: white;
	display: flex;
	flex-direction: column;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	position: relative;
	height: 111px;
	padding: 0 7.5px;
	z-index: 10;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.nav-title {
	font-family: 'Radio Canada', sans-serif;
	text-transform: uppercase;
	font-size: 41px;
	font-weight: 900;
	position: relative;
	opacity: 0;
	/* animation: fadeInUpText .35s ease-in-out forwards 1.55s; */
}

.squeeze {
	font-size: 38px;
	letter-spacing: -1px;
	line-height: 40px;
	margin-bottom: 5px;
}

.nav-title .text {
	display: inline-block;
	position: relative;
	top: 0;
	left: 7px;
}

.more-left-margin {
	left: 10px !important;
}

/* Time */
.nav-time {
	font-size: 30px;
	position: relative;
	left: 8px;
	top: -7px;
	opacity: 0;
	/* animation: fadeInUpText 0.35s ease-in-out forwards 1.65s; */
}

.time-text-part {
	margin-right: 8px;
}

/* Footer Text */
.footer-text {
	font-size: 23px;
	color: #797979;
	position: relative;
	left: 9px;
	top: -3px;
	letter-spacing: 0px;
	opacity: 0;
	transform: translateX(15px);
	/* animation: fadeInLeft .65s ease-out forwards 1.9s; */
}

.navbar-wrapper .footer-text {
	position: absolute;
	left: 16.5px;
	bottom: 4px;
	top: unset;
}

/* .footer-squeeze {
	top: .5px;
} */

/* Footer Background */
.footer {
	width: 450px;
	height: 15px;
	overflow: hidden;
	position: relative;
	top: -1px;
	background-color: white;
}

.footer img {
	width: 695px;
	height: 15px;
	position: relative;
	top: 1px;
	right: 120px;
	transform: translateX(40px);
	/* animation: fadeInLeftMore 1.5s ease-out forwards 1.8s; */
}

@keyframes outLeft {
	from {
		transform: translateX(0px);
	}

	to {
		transform: translateX(-50px);
	}
}

/* Nav 2 - Promo --------------------------- */
.without-footer-promo {
	height: 196px;
	padding: 0 !important;
}

/* Image */
.promo-image {
	height: 196px;
	width: 180px;
	overflow: hidden;
}

@keyframes imageFadeUpIn {
	0% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes imageFadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@keyframes imageFadeUpOut {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-20px);
	}
}

@keyframes imageFadeOut {
	0% {
		opacity: 1;
	}

	10% {
		opacity: 0.2;
	}

	100% {
		opacity: 0;
	}
}

/* .promo-image[src$=".png"] {
	  background: linear-gradient(to top right, #184e9c, #609df7);
} */

.promo-image img {
	width: 196px;
	object-fit: cover;
	opacity: 0;
	transform: translateY(15px);
	/* animation: imageFadeUp 0.6s ease-out forwards 1.3s, imageFadeIn 0.75s ease-in-out forwards 1.3s; */
}

/* Text */
.nav-text-container {
	width: 250px;
	height: 196px;
	position: absolute;
	left: 180px;
	top: 0;
}

.nav-text-promo {
	position: relative;
	top: 33.5px;
	left: 15.5px;
	display: flex;
	flex-direction: column;
	font-size: 26px;
}

.title-promo {
	font-size: 28px;
	word-spacing: 0px;
	letter-spacing: -0.2px;
	opacity: 0;
	transform: translateY(10px);
	font-family: 'Radio Canada Big', sans-serif;
	font-weight: 600;
	/* animation: fadeInUpText 0.3s ease-in-out forwards 1.55s; */
}

.sub-title {
	position: relative;
	top: -3px;
	opacity: 0;
	transform: translateY(10px);
	font-size: 22px;
	font-family: 'Radio Canada', sans-serif;
	/* animation: fadeInUpText 0.3s ease-in-out forwards 1.65s; */
}

.continue {
	font-size: 20px;
	top: 0;
	letter-spacing: -0.5px;
}

.date {
	position: relative;
	top: 15px;
	left: 1px;
	opacity: 0;
	transform: translateY(10px);
	font-family: 'Radio Canada Big', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	/* animation: fadeInUpText 0.3s ease-in-out forwards 1.75s; */
}

.squeeze-promo-title {
	font-size: 26px;
}

.squeeze-promo-text {
	font-size: 23px;
}

@keyframes fadeInUpText {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.gem-logo {
	height: 20px;
	position: relative;
	top: 8px;
}

.footer-text-promo {
	left: 2px;
	top: unset;
	bottom: -34px;
	letter-spacing: 2px;
	font-size: 22px;
	opacity: 0;
	transform: translateX(15px);
	/* animation: fadeInLeft 0.6s ease-out forwards 1.9s; */
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(15px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.footer-text-promo-continue {
	bottom: -41px;
}

/* Nav 3 - Results ----------------------- */
.nav-header-alt {
	font-family: 'Radio Canada', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	position: relative;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	height: 48px;
	background: white;
	color: black;
}

@keyframes fadeOutDown {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(30px);
	}
}

.header-alt {
	background: linear-gradient(to right, #0060b3, #0e73c5);
	color: white;
	display: flex;
	width: 100%;
	height: 54px;
	position: relative;
	top: -3px;
	font-family: 'Radio Canada Big', sans-serif;
}

.header-results {
	background: linear-gradient(to right, #0060b3, #0e73c5);
	/* animation: fadeRightToLeft .3s ease-out forwards 1.1s; */
}

.header-breaking {
	background: #ee0000;
	color: white;
	/* animation: fadeRightToLeft .3s ease-out forwards 1.1s; */
}

@keyframes fadeRightToLeft {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

.header-corner {
	background: #0187f4;
	width: 54px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.header-corner-text {
	color: white;
	font-size: 40px;
	font-weight: 500;
	opacity: 0;
	position: relative;
	z-index: 1;
	font-family: 'Radio Canada Big', sans-serif;
}

.header-text {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 40px;
	position: relative;
	top: 1px;
	left: 12px;
	opacity: 0;
	z-index: 5;
	/* animation: fadeInUpText .5s ease-out forwards 1.6s; */
}

.header-text-no-corner {
	left: 16px;
}

.header-text-results {
	top: 1px;
	left: 15px;
	letter-spacing: 0px;
}

.result-squeeze {
	font-size: 34px;
    top: 7.5px !important;
    letter-spacing: -1px;
}

.without-footer-results {
	height: 142px;
	padding: 0 !important;
}

/* Medal Results */
.result-row {
	display: flex;
	width: 450px;
	height: 35.5px;
	background: #f2f2f2;
	color: #2a2a2a;
	position: relative;
	top: 0;
	opacity: 0;
	/* animation: fadeIn .5s ease-out forwards 1.4s; */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.odd-row {
	background: #e4e4e4;
}

.result-number {
	width: 54px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.result-flag {
	height: 35.5px;
	width: 50.71px;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	box-shadow:
		0 5px 15px 0px rgba(0, 0, 0, 0.3),
		5px 0 15px -5px rgba(0, 0, 0, 0.3)
}

.result-flag img {
	height: 100%;
	width: 100%;
}

.result-name {
	text-transform: uppercase;
	font-size: 30px;
	position: relative;
	left: 7px;
	opacity: 0;
	transform: translateX(15px);
	/* animation: fadeInLeft .5s ease-out forwards 1.6s; */
}

/* Results Text */
.results-text {
	text-transform: uppercase;
	font-size: 28px;
	padding: 10px;
	position: relative;
	top: 2px;
	left: 6px;
	letter-spacing: -0.5px;
	line-height: 34px;
	opacity: 1;
}

.results-text div {
	opacity: 0;
	transform: translateY(30px);
	/* animation: fadeInUpTextMore .5s ease-out forwards 1.5s; */
}

@keyframes fadeInUpTextMore {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	80% {
		opacity: 0.4;
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Footer */
.footer-text-results-1 {
	position: relative;
	left: 0px;
	top: 0px;
	letter-spacing: 0px;
	opacity: 0;
	transform: translateX(15px);
	color: #4c4c4c;
	background: #e4e4e4;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
	/* animation: fadeInLeft .65s ease-out forwards 1.8s; */
}

.footer-text-results-2 {
	position: absolute;
	left: 0px;
	top: 106.5px;
	letter-spacing: 0px;
	opacity: 0;
	transform: translateX(15px);
	color: #4c4c4c;
	background: #e4e4e4;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
	/* animation: fadeInLeft .65s ease-out forwards 1.8s; */
}