body {
    background: #2f3a4f;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    max-width: 500px;
    height: 800px;
}

/* Tab View */
.tab-view-container {
    width: 684px;
}

.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #bababa;
}

.tabcontent {
    display: none;
    padding: 6px;
    border: 1px solid #ccc;
    border-top: none;
    height: 90vh;
}

/* Dropdown */
select {
    width: 163px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    margin-left: 10px;
}

option {
    padding-left: 10px;
}

/* Table */
.nav-table {
    margin: 15px 5px;
    width: 661px;
    overflow-y: auto;
    max-height: 600px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.row-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.settings {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings i {
    font-size: 20px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
}

td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

td:first-child {
    border-left: 1px solid #ccc;
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

.nav-text-container {
    overflow: visible;
}

/* Settings */
.fa-trash-o,
.fa-eye,
.fa-eye-slash {
    cursor: pointer;
}

.fa-trash-o:hover {
    color: rgb(255, 0, 0);
}

.fa-eye:hover,
.fa-eye-slash:hover {
    color: rgb(108, 108, 108);
}

.fa-expand:hover,
.fa-compress:hover {
    color: rgb(108, 108, 108);
}

.fa-bars:hover {
    cursor: grab;
}

.fa-bars:active {
    cursor: grabbing;
}

.dragging {
    background-color: black;
}

.highlight {
    background-color: #384d75;
}

/* Element Preview */
.nav-wrapper {
    width: 450px;
    height: 196px;
    clip-path: inset(0 0 0 0);
}

.nav-main {
    clip-path: none;
}

.broadcast-logo {
    opacity: 1;
    transform: translateX(0);
}

.nav-title {
    opacity: 1;
}

.nav-time {
    opacity: 1;
}

.footer-text {
    opacity: 1;
    transform: translateX(0);
}

.footer img {
    transform: translateX(0);
}

/* Promo */
.promo-image {
    overflow: hidden;
    position: relative;
}

.promo-image img {
    opacity: 1;
    transform: translateY(0);
    overflow: hidden;
    min-height: 196px;
}

.promo-image img[src*="Picto"] {
    height: 196px;
    background: linear-gradient(to top right, #184e9c, #609df7);
}

.promo-image img[src$=".png"]:not([src*="Picto"]) {
    height: 196px;
    background: #e7e7e7;
    object-position: 60% 2px;
}

.promo-image img:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.title-promo {
    transform: translateY(0);
}

/* Force flex items to be only as wide as their content so we can detect overflow correctly */
.nav-text-promo {
    align-items: flex-start;
}

.sub-title {
    opacity: 1;
    transform: translateY(0);
    white-space: nowrap;
}

.date {
    opacity: 1;
    transform: translateY(0);
}

.image-edit-container {
    display: none;
    position: absolute;
    bottom: -40px;
    left: 0;
    height: 30px;
}

.image-edit-container select {
    width: 180px;
    margin-left: 0;
    margin-right: 10px;
}

.img-input {
    width: 50px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    padding-left: 10px;
    cursor: e-resize;
    user-select: auto;
}

/* Results */
.result-wrapper {
    overflow: hidden;
}

.header-corner {
    opacity: 1;
}

.header-corner-text {
    opacity: 1;
}

.header-text {
    opacity: 1;
}

.result-row {
    opacity: 1;
}

.result-name {
    opacity: 1;
    transform: translateX(0);
}

.flag-input-container {
    position: absolute;
    left: 450px;
    top: 54px;
}

.flag-input input {
    width: 50px;
    font-size: 18px;
    height: 30.5px;
    text-transform: uppercase;
}

/* Buttons Group */
.buttons-group {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
}

.buttons-group:not(:first-child) {
    margin-top: 10px;
}

.btn {
    min-width: 100px;
    height: 30px;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #384d75;
}

.sm-btn {
    min-width: 53px;
}

.link-btn {
    min-width: 47px;
    text-decoration: none;
    height: auto;
    text-align: center;
    padding: 5px 0;
}

.bigger {
    padding: 5px 10px;
}

.btn:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.btn:not(:first-child) {
    margin-left: 10px;
}

/* Interval */
.auto-on {
    background: #077007;
}

.auto-off {
    background: #9f0909;
}

.interval-input {
    height: 28px;
    width: 43px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    text-align: center;
}

.countdown {
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.time-stamp {
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: 4px;
}

/* Checkbox Group */
.checkbox-group {
    position: absolute;
    right: 22px;
    top: 74px;
}

.button-group-nested {
    position: absolute;
    right: 0;
    bottom: -45px;
    display: flex;
}